<div class=''>
    <h2><%= @agent.first_name %></h2>
    
    <button class='btn btn-info'>
        Call
        <%= @agent.first_name %>
    </button>
    <button class='btn btn-success'>
        Email
        <%= @agent.email %>
    </button>
</div>